{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio - Microempresa</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenido a nuestra microempresa</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'formulario_encomienda' %}">Formulario</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="ultimos-pedidos">
            <div class="container">
                <h2 style="display: flex; align-items: center;">
                    Últimos pedidos
                    <img src="{% static 'img/producto1.jpg' %}" alt="Producto 1" style="max-width: 50px; height: auto; margin-left: 10px;">
                </h2>
                <ul>
                    {% for pedido in ultimos_pedidos %}
                    <li>{{ pedido.nombre }} - {{ pedido.fecha_recogida }}</li>
                    {% empty %}
                    <li>No hay pedidos aún.</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="galeria">
            <div class="container">
                <div class="gallery">
                    <div class="item">
                        <img src="{% static 'img/producto2.jpg' %}" alt="Producto 2">
                        <h3>Entrega garantizada</h3>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacto">
            <div class="container">
                <h2 style="display: flex; align-items: center;">Contacto</h2>
                <p>Teléfono: 123-456-789</p>
                <p>Email: info@microempresa.com</p>
                <p>Dirección: Temuco, Chile.</p>
            </div>
        </section>

    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ year }} Microempresa. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>